<h2 class='about-title-react'>About the Head Start Coaching Companion</h2>

<p class='about-paragraph-react'>The Head Start Coaching Companion (HSCC) is a video sharing and coaching feedback platform for early care and education staff. It helps coach-coachee dyads and peer-coaching teams work together, even between coach visits or from a distance. Programs identify one person to create an account for their organization so their coaches and staff, regardless of model, can upload and share video files, ask questions, and exchange feedback. </p>

<p class='about-paragraph-react'>Early care and education staff can utilize the Head Start Coaching Companion as they develop individualized coaching plans that support quality teaching and learning. Learning environments include classrooms, family child care homes or home-based environments. Coaches and coachees can:
    <ul>
        <li>Use the HSCC as they develop coaching plans that support quality teaching and learning</li>
        <li>Share videos of their own learning environments within their coaching teams</li>
        <li>Track progress through the 3 major components of PBC: Shared Goals and Action Planning, Focused Observation, and Reflection and Feedback</li>
        <li>Use the HSCC video library to view examples of birth-to-five teaching and home visiting  practices.
        </li>
      </ul>
</p> 

<h2 class='about-title-react'>Head Start Coaching Companion Security Statement</h2>

<p class='about-paragraph-react'>The Head Start Coaching Companion (HSCC) complies with all Family Educational Rights and Privacy Act (FERPA) and Health Insurance Portability and Accountability Act (HIPAA) laws. To access the HSCC, you must use a 2-factor login through the Early Childhood Learning and Knowledge Center (ECLKC) and the Central Authentication Service (CAS). An Amazon Web Services (AWS) server instance hosts the HSCC site. AWS security protocols further protect the HSCC. Learn more at <a class='about-link-react'>https://aws.amazon.com/security/</a>. After you create an account and get a password, you must maintain the confidentiality of your individual account and password. You are also expected to restrict access to your computer and mobile devices. HSCC does not store passwords within the web application database. All user data is encrypted.</p>

<p class='about-paragraph-react'>Before uploading all resources (videos, documents, pictures, spreadsheets, etc.), participants must verify that they have the necessary consents and permissions to share the file. Similar to other early learning video and photo sharing platforms, it is the user’s responsibility (with their Head Start program; place of work) to get and keep active consent to film and/or photograph each child. The consent that families sign limits liability. If families do not consent to this process, do not include those specific children in the uploaded videos or other resources.</p>

<p class='about-paragraph-react'>Users can share resources with team members on the HSCC site through a secure temporary link that users can only view within the HSCC. You as well as all users are responsible for their behavior on the website and must respect other users’ data (for example in a community of practice). This website, along with its content, is only for personal, non-commercial use.</p>

<p class='about-paragraph-react'>In addition, the HSCC is accessed through the ECLKC from the Office of Head Start (OHS). Learn more in the <a class='about-link-react' href="https://eclkc.ohs.acf.hhs.gov/privacy">OHS privacy policy</a>. Aggregate data will inform ongoing improvement and overall site utilization. Individual user identity is encrypted and not identifiable.</p>

<p class='about-paragraph-react'>The HSCC uses a Vimeo site to house videos and uploaded resources. These items are protected through Vimeo’s security protocols. Learn more in <a class='about-link-react' href="https://vimeo.com/privacy">Vimeo Privacy Policy</a>. 

