<h2 class='about-title-react'>About Us</h2>

<p class='about-paragraph-react'>The Head Start Coaching Companion is a video- sharing and coaching feedback platform for early care and education staff and providers. It helps coaches, -coachees, and peer-coaching teams work together, even between coach visits or from a distance. </p>

<p class='about-paragraph-react'>Early care and education staff can utilize the Head Start Coaching Companion as they develop individualized coaching plans that support quality teaching and learning. Learning environments include classrooms, family child care homes or home-based environments. Coaches and coachees can:
    <ul>
        <li>Develop individualized coaching plans that support quality teaching and learning</li>
        <li>Share videos of their learning environments with their coaching teams</li>
        <li>Track progress through the three major components of PBC:
          <ul>
            <li>Shared Goals and Action Planning</li>
            <li>Focused Observation</li>
            <li> Reflection and Feedback</li>
         </ul>
        </li>
        <li>View examples of birth-to-5 teaching and home visiting practices in the video library</li>
      </ul>
      <br>
      Organizations identify one person to <a href="https://eclkc.ohs.acf.hhs.gov/join-head-start-coaching-companion" target="_blank">create an account</a> so coaches and program staff can come together and share video files, ask questions, and exchange feedback. 
</p> 

<h2 class='about-title-react'>Security Statement</h2>

<p class='about-paragraph-react'>
  The Coaching Companion is accessed through the Early Childhood Learning and Knowledge Center (ECLKC), from the Office of Head Start. <a href="https://eclkc.ohs.acf.hhs.gov/professional-development/head-start-coaching-companion/security-statement" target="_blank">Read the security statement on the ECLKC</a>.
</p>
